.vscode
test10*

# delete cmake files
Beladi/CMakeFiles
Unit_test/CMakeFiles
/CMakeFiles
Beladi/cmake_install.cmake
Unit_test/cmake_install.cmake
Beladi/CMakeCache.txt
Unit_test/CMakeCache.txt
cmake_install.cmake
CMakeCache.txt

# delete executable files

2Q_cache
unit_testing
*.out
